{% extends 'base.html' %}
{% block title %}Bosh sahifa{% endblock title %}
{% block content %}
    <br/>
    <div class="jumbotron mx-auto" style="width: 45rem;">
      <h1 class="display-4 ">Assalomu alaykum</h1>
      <p class="lead">Zohidov Abdurahmonning shaxsiy blogiga xush kelibsiz</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Postlarni korish</a>
      </p>
    </div>
<br />
<br />
<br />
<br />
<br />
<br />
<a class="link-primary" style="text-decoration: none" href="https://t.me/ZaKhiDoV_0262" target="_blank">Telegram</a> |
<a class="link-primary" style="text-decoration: none" href="https://www.facebook.com/abdurahmon.zakhidov" target="_blank">Facebook</a>

<!--<a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Postlarni korish</a>-->
<!--<div class="card bg-dark text-white w-50">-->
<!--  <img class="card-img" src="./media/rasm/camaro.jpg" alt="Card image">-->
<!--  <div class="card-img-overlay">-->
<!--    <h5 class="card-title"> Assalomu alaykum! </h5>-->
<!--    <p class="card-text"> Zohidov Abdurahmonning shaxsiy blogiga xush kelibsiz!</p>-->

<!--  </div>-->

<!--</div>-->
<!-- <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Postlarni korish</a>-->
{% endblock content %}